<script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
    integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"
    integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet" href="/assets/css/custom.css">

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/katex.min.css"
          integrity="sha384-yFRtMMDnQtDRO8rLpMIKrtPCD5jdktao2TV19YiZYWMDkUR5GQZR/NOVTdquEx1j"
          crossorigin="anonymous">
    <script defer
          src="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/katex.min.js"
          integrity="sha384-9Nhn55MVVN0/4OFx7EE5kpFBPsEMZxKTCnA+4fqDmg12eCTqGi6+BB2LjY8brQxJ"
          crossorigin="anonymous"></script>
    <script defer
          src="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/contrib/auto-render.min.js"
          integrity="sha384-kWPLUVMOks5AQFrykwIup5lo0m3iMkkHrD0uJ4H5cjeGihAutqP0yW0J6dpFiVkI"
            crossorigin="anonymous"></script>
    <script>
katexOpts = {
  delimiters: [
  {left: "$$", right: "$$", display: true},
  {left: "\\[", right: "\\]", display: true},
  {left: "$", right: "$", display: false},
  {left: "\\(", right: "\\)", display: false}
  ],
  maxExpand: Infinity};
  document.addEventListener("DOMContentLoaded", function() {
  renderMathInElement(document.body, katexOpts);
});
    </script>

<!-- Analytics -->
<script defer src="https://cloud.umami.is/script.js" data-website-id="20d70342-6937-4451-bdf2-3f8a49fc457b"></script>

<!-- DataTables stuff -->
<link rel="stylesheet" href="//cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">

<script src="//cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        let tables = $('table.datatable');
        for (t of tables) {
            dt = new DataTable(t, {
              order: $(t).data('order-columns').map(n => [n, 'asc']),
              language: {
                search: '_INPUT_',
                searchPlaceholder: 'Search...'
              },
              layout: {
                topStart: null,
                topEnd: 'search',
                bottomStart: 'info',
                bottomEnd: null
              },
              "paging": false
            });
            dt.columns().every(function () {
                if ($(this.header()).data('hide-column')) {
                    this.visible(false);
                }
            });
        }
    });
</script>
<!-- End DataTables stuff -->