a {    
    border-bottom: 1px dotted;
    text-decoration: none;
}
a:hover {    
    border-bottom: 1px solid;
    text-decoration: none;
}
.page__content a:not(.btn):hover { text-decoration: none; }

.smallcaps, .site-title {
    font-variant: small-caps;
}

.centered-td {
    text-align: center;
    vertical-align: middle;
}

ul.reference-list, ul.area-list, ul.tag-list {
  padding-left: 0;
  list-style-type: none;
  margin: 0;
  white-space: nowrap;
}
ul.reference-list li, ul.area-list li, ul.tag-list li {
  margin: 0;
}

ul.authors-list {
  padding-left: 0;
  margin: 8px 0 0 0;
}
ul.authors-list li {
    display: inline;
}
ul.authors-list li:after {
    content: ", ";
}
ul.authors-list li:last-child:after {
    content: "";
}

#imdb_title {
  margin: 7px 0 3px 0;
}
.dataTables_wrapper {
  margin-top: -40px;
}

.greedy-nav {
  background: #0a1045;
}
.masthead {
  background: #0a1045;
}
#footer {
  background: #0a1045;
  color: #ffca76;
}
.greedy-nav a {
  color: #ffca76;
}
.initial-content {
  background: #fffcf7;
}
table.datatable thead {
  background: #FBE6C5;
  border-bottom: 2px solid #0a1045;
}
#main .dataTables_wrapper .dataTables_filter input, #main .dataTables_wrapper .dataTables_length select {
  border: 1px solid #e2dae7;
  background-color: #FBE6C5;
}
h1, h2 {
  color: #0a1045;
}
.datatable a, .datatable a:visited, page__content a, page__content a:visited {
  color: #3743a9;
}
